/* .best-sellers {
    text-align: center;
    padding: 20px;
    background-color: rgb(228, 195, 195);
   
  }
  
   .product-list {
    display: flex;
    overflow-x: auto; 
    gap: 20px;
    padding: 20px 0;
    
  }
  
  .product-item {
    border: 1px solid #f9d7d7;
    padding: 10px;
    border-radius: 8px;
    background-color: #e51414;
    flex-shrink: 0; 
    width: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .product-image{
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .retail-price {
    margin: 10px 0;
    font-weight: bold;
  }
  
  .shop-now {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .shop-now:hover {
    background-color: #0056b3;
  }
  
  .toggle-view {
    padding: 10px 20px;
    background-color: rgb(245, 59, 30);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .toggle-view:hover {
    background-color: darkblue;
  }
  
 
  @media (max-width: 768px) {
    .product-list {
      flex-wrap: nowrap;
      justify-content: center;
    }
  }
   */


.best-sellers {
    /* text-align: center; */
    padding: 20px;


}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0;
    justify-content: center;
    background-color: rgb(250, 243, 243);
   
}

.item {
    border: 1px solid #f9d7d7;
    padding: 10px;
    border-radius: 8px;
    background-color: #fdfbfb;
    flex-shrink: 0;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myimage {
    width: 50%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}
.item:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.myretailprice {
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}
.price{
    margin-top: auto;
    display: flex;
    gap: 16px;
}

.shopnow {
    padding: 12px 40px;
    background-color: #fcfdfe;
    color: rgb(52, 54, 202);
    border: 2px solid blue;
    border-radius: 25px;
    cursor: pointer;
}

.shopnow:hover {
    background-color: #accced;
}


.view:hover {
    background-color: darkblue;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .carousel {
        flex-wrap: nowrap;
        justify-content: center;
    }
}

.view {
    /* margin-left: 88vw; */
    padding: 10px 20px;
    background-color: rgb(245, 59, 30);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.best {
    display: flex;
    justify-content: space-between;
} 