


.best-sellers {
    /* text-align: center; */
    padding: 20px;
    margin-bottom: 100px;
    background-color: white;



}
.carousel {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0;
    justify-content: center;
    background-color: rgba(193, 233, 243, 0.032);
   
}

.item {
    border: 1px solid #f9d7d7;
    padding: 10px;
    border-radius: 8px;
    background-color: #fdfeff;
    flex-shrink: 0;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myimage {
    width: 50%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}
.item:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.myretailprice {
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}
.price{
    margin-top: auto;
    display: flex;
    gap: 16px;
}

.shopnow {
    padding: 12px 40px;
    background-color: #fcfdfe;
    color: rgb(52, 54, 202);
    border: 1px solid blue;
    border-radius: 25px;
    cursor: pointer;
}

.shopnow:hover {
    background-color: #accced;
}


.view:hover {
    background-color: rgb(2, 65, 107);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .carousel {
        flex-wrap: nowrap;
        justify-content: center;
    }
}

.view {
    /* margin-left: 88vw; */
    padding: 13px 23px;
    background-color: #228ffd;
    color: rgb(253, 252, 252);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.best {
    display: flex;
    justify-content: space-between;
} 