header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
    /* gap: -30px; */
    
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
  }
  
  .logo {
    display: flex;
    /* margin-right: 150px; */
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-left: 5px;
  }
  .img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #666;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ff6347;
  }
  .icons {
    display: flex;
    align-items: center;
  }
  
  .icons a {
    margin-left: 15px;
    color: #333;
    text-decoration: none;
  }
  
  .icons a:hover {
    color: #007bff; /* Example hover color */
  }
  
  