.popular-categories {
    text-align: center;
    padding: 60px;
    background-color: rgb(249, 255, 255);
  }

  .popular-categories h1{
    font-size: 40px;
    font-weight: 600px;
  }


  
  .categories-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .category-item {
    border: 1px solid rgba(44, 44, 44, 0.121);
    border-radius: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 10px;
  }
  .category-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
  .category-item p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  .popular-catname{
    font-size: 20px;
  }
  
  .coin-image {
    width: 110px; /* Small coin size */
    height: 110px;
    border-radius: 80%; /* Makes the image circular */
    /* object-fit: cover; Ensures the image fits the circle */
    /* border: 2px solid #ddd; Optional: add border for visual appeal */
    padding: 10px;
    
  }
  