/* Stationery.css */

.stationery {
  padding: 20px;
  margin-bottom: 100px;
  background-color: white;
 
}

.stationery-carousel {
  display: flex;
  overflow-x: hidden;
  gap: 20px;
  padding: 20px 0;
  justify-content: center;
  background-color: rgba(224, 246, 252, 0.032);
}

.stationery-item {
  border: 1px solid #f9d7d7;
  padding: 10px;
  border-radius: 8px;
  background-color: #fdfeff;
  flex-shrink: 0;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.stationery-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.stationery-myimage {
  width: 55%;
  /* height: auto; */
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.stationery-myretailprice {
  margin: 10px 0;
  font-weight: bold;
  text-align: start;
}

.stationery-price {
  margin-top: auto;
  display: flex;
  gap: 16px;
}

.stationery-shopnow {
  padding: 12px 40px;
  background-color: #fcfdfe;
  color: rgb(52, 54, 202);
  border: 1px solid blue;
  border-radius: 25px;
  cursor: pointer;
}

.stationery-shopnow:hover {
  background-color: #accced;
}

.stationery-view {
  padding: 13px 23px;
  background-color: #228ffd;
  color: rgb(253, 252, 252);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stationery-view:hover {
  background-color: rgb(2, 65, 107);
}



/* Responsive Styles */
@media (max-width: 768px) {
  .stationery-carousel {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .stationery-item {
    width: 100%;
  }

  .stationery-myimage {
    width: 80%;
  }
}
